@charset "utf-8";
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(/font/NanumSquareR.eot);
    url(/font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
    url(/font/NanumSquareR.woff) format('woff'),
    url(/font/NanumSquareR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(/font/NanumSquareB.eot);
    url(/font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
    url(/font/NanumSquareB.woff) format('woff'),
    url(/font/NanumSquareB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url(/font/NanumSquareEB.eot);
    url(/font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
    url(/font/NanumSquareEB.woff) format('woff'),
    url(/font/NanumSquareEB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url(/font/NanumSquareL.eot);
    url(/font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
    url(/font/NanumSquareL.woff) format('woff'),
    url(/font/NanumSquareL.ttf) format('truetype');
}

strong {font-weight:normal}

/* common */
html, body {margin:0;padding:0;height:100%;width:100%;min-width:1280px}
body {color:#333;font-family:'NanumSquare', HelveticaNeue,AppleSDGothicNeo,sans-serif;font:13px;letter-spacing:-.5px}
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;font-weight:normal;font-size:inherit}
form, fieldset {margin:0;padding:0;border:none}
p, ul, ol, li, dl, dt, dd {list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0}
em {font-style:normal}
a {text-decoration:none;color:#363636}
a:hover, a:active {text-decoration:none;color:#235291}
table {width:100%;border-collapse:separate;border-spacing:0;table-layout:fixed}
table th {font-weight:normal}
* html table {border-collapse:collapse}
*+html table {border-collapse:collapse}
img {border:none}
input[type='button'], button, select {margin:0;padding:0;cursor:pointer;font-family:'NanumSquare', HelveticaNeue,AppleSDGothicNeo,sans-serif;background-color:transparent;border:0;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;outline:none}
button:active {outline:none;text-indent:0}
p, dt, dd {word-break:break-all}

input, select {outline:none}
input[type='text']::-ms-clear {display:none !important}
input[type='search']::-webkit-search-cancel-button {display:none !important}
input[type='file'] {line-height:1;padding:0 16px;border:1px solid #666;font-size:16px;font-family:'NanumSquare', HelveticaNeue,AppleSDGothicNeo,sans-serif;cursor:pointer;outline:none;box-sizing:border-box}

select {font-family:'NanumSquare', HelveticaNeue,AppleSDGothicNeo,sans-serif;font-size:16px;border:1px solid #959595;height:32px;line-height:32px;padding:0 16px;-webkit-appearance:none;-moz-appearance:none;appearance:none}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color:#999}
input:-moz-placeholder,
textarea:-moz-placeholder {color:#999;opacity:1}
input::-moz-placeholder,
textarea::-moz-placeholder {color:#999;opacity:1}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {line-height:1.8rem;letter-spacing:-.05em}
textarea::-webkit-input-placeholder {line-height:1.8rem;letter-spacing:-.05em}
textarea:-moz-placeholder {line-height:1.8rem;letter-spacing:-.05em}
textarea:-ms-input-placeholder {line-height:1.8rem;letter-spacing:-.05em}

input::-webkit-input-placeholder {color:#999}
input::-moz-placeholder {color:#999}
input:-ms-input-placeholder {color:#999}
input:-moz-placeholder {color:#999}

input[type='checkbox'],
input[type='radio'] {margin:0;padding:0;position:relative;top:2px}
input[readonly='readonly'], input[readonly],
input[disabled='disabled'], input[disabled] {opacity:1 !important}
input.datepicker[disabled='disabled'], input.datepicker[disabled],
input.datepicker[readonly='readonly'], input.datepicker[readonly],
input.datepicker[disabled='disabled']::-webkit-input-placeholder,
input.datepicker[disabled]::-webkit-input-placeholder {background-color:rgb(61, 19, 19) !important;color:#999 !important;opacity:1 !important}
select[disabled] {background:#e5e5e5;color:#bababa}

textarea {width:100%;box-sizing:border-box;padding:1rem;font-size:14px;resize:none;font-family:'NanumSquare', HelveticaNeue,AppleSDGothicNeo,sans-serif;border:1px solid #b2b2b2;border-radius:0;-webkit-border-radius:0;outline:none;appearance:none;-webkit-appearance:none}

legend {font-size:0;text-indent:-99999em;line-height:0}
header, section, footer, article, nav, aside {display:block}
img {/*max-width:100%;*/vertical-align:top}
label {font-size:13px}

html.scroll_off {overflow:hidden}

/* input */
.input-a {height:52px;padding:0 12px;border:1px solid #f2f4f5;font-size:16px;border-radius:4px !important;-webkit-appearance:none !important;font-family:'NanumSquare', HelveticaNeue,AppleSDGothicNeo,sans-serif;outline:none;box-sizing:border-box;font-weight:700;background-color:#f2f4f5;color:#000}

/* ETC */
.for-a11y {position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0);overflow:hidden;text-indent:-99em}
* {box-sizing:border-box}
.clamp {display:inline-block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:95%}
.clamp-b {overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}

/* layout */
.container {max-width:1280px;margin:0 auto}
.wrap {padding-top:80px}

/* header */
.header {background-color:#fff;height:80px;position:fixed;top:0;left:0;right:0;box-shadow:0 1px 3px rgba(0,0,0,.15)}
.header .container {display:flex;height:80px;align-items:center;justify-content:space-between}
.header .logo {width:68px;height:20px;background:url("/images/common/logo.png") no-repeat 50% 50%}
.header .nav-group {display:flex;align-items:center}
.nav-group .nav-list {display:flex;align-items:center}
.nav-list .nav-item {padding:0 28px;position:relative}
.nav-list .nav-item ~ .nav-item:before {content:'';position:absolute;left:0;top:50%;margin-top:-8px;width:1px;height:16px;background-color:#e8e8e8}
.nav-list .nav-item .nav-link {font-size:16px;color:#000;font-weight:700; transform: skew(-0.001deg);}
.nav-list .nav-item .nav-link.active {color:#35bbc9}

/* footer */
.footer {margin-top:140px;padding:40px 50px;background-color:#f7f7f7}
.footer .footer-container {display:flex;align-items:center;justify-content:space-between}
.footer .sns-box {display:flex;align-items:center;flex-shrink:0}
.footer .sns-box .btn-sns {margin-left:10px}
.footer-content {margin-top:20px;display:flex;align-items:center;flex-wrap:wrap}
.footer-content .txt-item {font-size:15px;color:#707070;font-weight:400;position:relative}
.footer-content .txt-item ~ .txt-item {margin-left:24px;padding-left:24px;}
.footer-content .txt-item ~ .txt-item:before {content:'';position:absolute;left:0;top:50%;width:1px;height:12px;background-color:#c0c0c0;margin-top:-6px}
.footer .copy {margin-top:10px;font-size:12px;color:#707070;font-weight:400}
.footer .btn-4 {margin-left:8px}

/* main */
.main-img {background:url("/images/main/main-img.png") no-repeat 50% 0;height:510px;background-size:cover}
.main-bn {height:320px;background:url("/images/main/main-img2.png") no-repeat 50% 50%;margin-top:80px;text-align:center;padding-top:80px}
.main-bn .main-bn-txt1 {font-size:44px;color:#fff;font-weight:800}
.main-bn .main-bn-txt2 {margin-top:12px;font-size:18px;color:#fff;font-weight:400}
.main-bn .btn-group {margin-top:36px;display:flex;align-items:center;justify-content:center}
.main-bn .btn-group button {margin:0 8px}

.gallery-box {margin-top:96px}
.title-area {display:flex;align-items:flex-end;justify-content:space-between;margin-bottom:20px}
.gallery-list {display:flex;flex-wrap:wrap}
.gallery-list .gallery-item {width:calc((100% - 72px) / 4);margin-right:24px;margin-bottom:50px}
.gallery-list .gallery-item:nth-of-type(4n) {margin-right:0}
.gallery-list .gallery-item .img-box {height:260px;border-radius:6px;overflow:hidden}
.gallery-list .gallery-item .img-box img {width:100%;height:100%;object-fit:cover}
.gallery-list .gallery-item .gallery-title {margin-top:16px;font-size:16px;font-weight:800;color:#1e2329}
.gallery-list .gallery-item .gallery-data {font-size:14px;color:#76808f;margin-top:10px}

/* button */
.btn-1 {height:40px;border:1px solid #e8e8e8;border-radius:20px;text-align:center;min-width:100px;padding:0 20px;font-size:14px;color:#969696}
.btn-2 {height:60px;border-radius:4px;text-align:center;min-width:260px;padding:0 32px;font-size:20px;color:#fff;background-color:#35bbc9}
.btn-3 {height:60px;border-radius:4px;text-align:center;min-width:260px;padding:0 32px;font-size:20px;color:#181a20;background-color:#fff}
.btn-4 {height:36px;border:1px solid #d6d6d6;border-radius:18px;text-align:center;min-width:126px;padding:0 20px;font-size:13px;color:#707070;font-weight:700}
.btn-5 {height:54px;border-radius:4px;text-align:center;min-width:180px;padding:0 32px;font-size:18px;color:#000;background-color:#fff;border:1px solid #dbdbdb;font-weight:700}
.btn-6 {height:60px;border-radius:4px;text-align:center;min-width:180px;padding:0 32px;font-size:22px;color:#fff;background-color:#000;font-weight:400}

.link-go {display:flex;align-items:center;color:#242733;font-size:14px;font-weight:400}
.link-go:after {content:'';display:block;background:url("/images/common/btn-arrow.png") no-repeat 50% 50%;height:32px;width:32px;margin-left:10px}

.btn-sns {width:48px;height:48px;background-repeat:no-repeat;background-position:50% 50%}
.btn-sns.sns1 {background-image:url("/images/common/sns-f.png")}
.btn-sns.sns2 {background-image:url("/images/common/sns-t.png")}
.btn-sns.sns3 {background-image:url("/images/common/sns-k.png")}

.btn-more {height:60px;border-radius:4px;min-width:260px;padding:0 40px;font-size:20px;font-weight:700;color:#242733;border:1px solid #dbdbdb}

.btn-area {display:flex;justify-content:center;margin-top:30px}

/* radio */
.m-select .select-date {display:none}
.form_element-radio {position:relative;min-height:18px;line-height:18px;display:inline-block}
.form_element-radio input[type="radio"] {position:absolute;opacity:0;left:0}
.form_element-radio input[type="radio"]:checked + label:before {background-color:#35bbc9;border-color:#35bbc9}
.form_element-radio label {display:inline-block;padding:0 0 0 32px;line-height:18px;font-size:16px;color:#888;font-weight:500;letter-spacing:-.5px;position:relative;}
.form_element-radio label:before {content:'';width:18px;height:18px;position:absolute;top:0;left:0;border:1px solid #9d9d9d;background-color:#fff;border-radius:50%;box-sizing:border-box}
.form_element-radio label:after {content:'';width:10px;height:10px;position:absolute;background-color:#fff;border-radius:50%;top:4px;left:4px;}

/* content */
.top-title {height:160px;background-size:cover;background-repeat:no-repeat;background-position:50% 0;background-image:url("/images/sub/gallery-top.jpg")}
.top-title .container {height:100%;align-items:center;display:flex;padding-left:68px}
.top-title .sub-title {font-size:36px;font-weight:800;color:#000}

.sub-content {margin-top:98px}

.img-area.line {padding-bottom:60px;border-bottom:1px dashed #000}
.img-area img {vertical-align:top}

.form-area {display:flex;justify-content:space-between;margin-top:60px}
.form-area .img-up-area {width:610px;background-color:#f2f4f5;border-radius:12px;height:310px}
.form-area .file-info {height:100%;display:flex;flex-direction:column;align-items:center;justify-content:center}
.form-area .txt-file {font-size:18px;color:#000;line-height:20px;font-weight:700;text-align:center;margin-top:16px}
.form-area .btn-5 {margin-top:36px}
.form-area .form-content {width:650px}
.form-area .form-content .input-a {width:100%}
.form-area .form-content .title-b {margin-bottom:8px}
.form-area .form-content .title-b ~ .title-b {margin-top:26px}
.choice-group {display:flex;justify-content:space-between}
.choice-group .choice-item {height:52px;width:calc((100% - 27px) / 4);background-color:#f2f4f5;border-radius:4px;display:flex;align-items:center;justify-content:center}
.form-content .btn-box {margin-top:29px;border-top:1px solid #5a5a5a;padding-top:29px}
.form-content .btn-box .btn-6 {width:100%}

.icon-file {background:url("/images/common/icon-file.png") no-repeat 50% 50%;width:81px;height:74px}
.icon-confirm {background:url("/images/common/icon-end.png") no-repeat 50% 50%;width:120px;height:120px}

.accordion-wrap {border-top:1px solid #5a5a5a}
.accordion-item {border-bottom:1px solid #e0e0e0}
.accordion-item .accordion-title {position:relative;color:#282828;font-size:18px;font-weight:700;padding:36px 20px 36px 68px}
.accordion-item .accordion-title:before {content:'';position:absolute;left:51px;top:38px;height:16px;width:1px;background-color:#e6e6e6}
.accordion-item .accordion-title .btn-accordion {position:absolute;top:0;width:100%;left:0;height:100%;bottom:0}
.accordion-item .accordion-title .btn-accordion:before {content:'';position:absolute;left:0;top:30px;width:36px;height:36px;background:url("/images/common/accordion-off.png") no-repeat 50% 50%;}
.accordion-item .accordion-title .btn-accordion.active:before {background-image:url("/images/common/accordion-on.png")}
.accordion-item .panel {margin:-12px 0 0 0;padding:12px 20px 28px 68px;display:none;font-size:18px;color:#888;line-height:24px;word-break:keep-all}

.confirm-massage .icon-confirm {display:block;margin:0 auto}
.confirm-massage .massage-txt {text-align:center;margin-top:36px;font-size:42px;color:#000;font-weight:700}
.confirm-massage-box {margin:68px auto 0;width:980px;background-color:#f2f4f5;border-radius:12px;padding:50px 60px}
.confirm-massage-box .btn-area {margin-top:58px}

/* tab content */
.tab-contents,
.tab-contents-b {height:100%;display:none}
.tab-contents.active,
.tab-contents-b.active {display:block}

/* table */
.table-list {border-top:2px solid #333}
.table-list thead th {border-bottom:1px solid #333;text-align:center;height:56px;font-size:16px;color:#000;font-weight:400}
.table-list tbody td {border-bottom:1px solid #e8e8e8;height:56px;text-align:center;font-size:16px;color:#000}
.table-list tbody td a {color:#000}
.table-list tbody td.t-l {text-align:left}
.table-list [class^="state-"] {font-weight:800}
.table-list .state-ing {color:#3793e9}
.table-list .state-end {color:#e01010;text-decoration:underline}
.table-list .state-return {color:#000}

/* text */
.txt-decs-a {font-size:13px;line-height:20px;color:#666;word-break:keep-all}

/* list type */
.dot-list .list-item {padding-left:18px;position:relative;font-size:18px;line-height:20px;color:#000;font-weight:700}
.dot-list .list-item ~ .list-item {margin-top:28px}
.dot-list .list-item:before {content:'';position:absolute;left:0;top:5px;width:8px;height:8px;border-radius:50%;background-color:#000}

/* title */
.title-a {font-size:34px;color:#242733;font-weight:700}
.title-b {font-size:18px;color:#000;font-weight:700}

/* margin */
.mt-1 {margin-top:90px}